.Message{
    position: relative;
    top: 10%;
    left: 10%;
    font-size: 18px;
}
.Timer{
    position: relative;
    text-align: center;
}
.Button{
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}