.Auth{
    &_registrationByOtherPanel{
        position: absolute;
        bottom: 35%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 8%;
    }
    &_iconCompanies{
        height: 38px;
        width: auto;
        cursor: pointer;
    }
}
